<div class="main-content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <button class="btn btn-primary pull-right" (click)="goBack()"> <i class="now-ui-icons arrows-1_minimal-left"></i> Go Back </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Vehicle Detail</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary"><th>Property</th><th>Value</th></thead>
                  <tbody>
                  <tr><th>Name</th><td>{{ record?.name }}</td></tr>
                  <tr><th>Code</th><td>{{ record?.code }}</td></tr>
                  <tr><th>Description</th><td>{{ record?.description }}</td></tr>
                  <tr><th>PlateNumber</th><td>{{ record?.plateNumber }}</td></tr>
                  <tr><th>Volume</th><td>{{ record?.volume }}</td></tr>
                  <tr><th>Mass</th><td>{{ record?.mass }}</td></tr>
                  <tr><th>Make</th><td>{{ record?.make }}</td></tr>
                  <tr><th>Color</th><td>{{ record?.color }}</td></tr>
                  <tr><th>Photo</th><td>{{ record?.photo }}</td></tr>
                  <tr><th>Type</th><td>{{ record?.type }}</td></tr>
                  <tr><th>Status</th><td>{{ record?.status }}</td></tr>
                  <tr><th>Remark</th><td>{{ record?.remark }}</td></tr>
                  <tr><th>Is Healthy</th><td>{{ record?.isHealthy }}</td></tr>
                  <tr><th>Is Active</th><td>{{ record?.isActive }}</td></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
