<div class="row">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Track your Parcel</h4>
        </div>

        <div class="card-body">
            <div class="continer rounded shadow-sm p-3">
                <form class="form" [formGroup]="searchForm" (ngSubmit)="queryRecord()">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="code">Parcel Code*</label>
                                <input type="text" id="code" formControlName="code" class="form-control" name="code" placeholder="code">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <button class="btn btn-primary btn-block">track</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>