<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Bonus Detail</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary"><th>Property</th><th>Value</th></thead>
                <tbody>
                  <tr><th>Document Type</th><td>{{ record?.documentType }}</td></tr>
                  <tr><th>Type</th><td>{{ record?.type }}</td></tr>
                  <tr><th>Asset</th><td>{{ record?.asset }}</td></tr>
                  <tr><th>Amount</th><td>{{ record?.amount }}</td></tr>
                  <tr><th>Admin</th><td>{{ record?.admin }}</td></tr>
                  <tr><th>Description</th><td>{{ record?.description }}</td></tr>
                  <tr><th>Partner</th><td>{{ record?.partner }}</td></tr>
                  <tr><th>User</th><td>{{ record?.user }}</td></tr>
                  <tr><th>Vehicle</th><td>{{ record?.vehicle }}</td></tr>
                  <tr><th>Sale Order</th><td>{{ record?.saleOrder }}</td></tr>
                  <tr><th>Purchase OrderId</th><td>{{ record?.purchaseOrderId }}</td></tr>
                  <tr><th>Reference</th><td>{{ record?.reference }}</td></tr>
                  <tr><th>LastRenewal</th><td>{{ record?.lastRenewal }}</td></tr>
                  <tr><th>NextRenewal</th><td>{{ record?.nextRenewal }}</td></tr>
                  <tr><th>RenewalBy</th><td>{{ record?.renewalBy }}</td></tr>
                  <tr><th>Is Renewed</th><td>{{ record?.isRenewed }}</td></tr>
                  <tr><th>Is Validity</th><td>{{ record?.isValidity }}</td></tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>



    