<div class="main-content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <button class="btn btn-primary pull-right" (click)="goBack()"> <i class="now-ui-icons arrows-1_minimal-left"></i> Go Back </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Schedule Detail</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary"><th>Property</th><th>Value</th></thead>
                  <tbody>
                  <tr><th>Code</th><td>{{ record?.code }}</td></tr>
                  <tr><th>Courier</th><td>{{ getFullname(record?.courier) }}</td></tr>
                  <tr><th>TerminalFrom</th><td>{{ record?.terminalFrom }}</td></tr>
                  <tr><th>CountyFrom</th><td>{{ record?.countyFrom }}</td></tr>
                  <tr><th>StateFrom</th><td>{{ record?.stateFrom }}</td></tr>
                  <tr><th>CountryFrom</th><td>{{ record?.countryFrom }}</td></tr>
                  <tr><th>TerminalTo</th><td>{{ record?.terminalTo }}</td></tr>
                  <tr><th>CountyTo</th><td>{{ record?.countyTo }}</td></tr>
                  <tr><th>StateTo</th><td>{{ record?.stateTo }}</td></tr>
                  <tr><th>CountryTo</th><td>{{ record?.countryTo }}</td></tr>
                  <tr><th>BoardingDate</th><td>{{ record?.boardingDate }}</td></tr>
                  <tr><th>Is Full</th><td>{{ record?.isFull }}</td></tr>
                  <tr><th>Vehicle</th><td>{{ record?.vehicle }}</td></tr>
                  <tr><th>Volume</th><td>{{ record?.volume }}</td></tr>
                  <tr><th>Mass</th><td>{{ record?.mass }}</td></tr>
                  <tr><th>Description</th><td>{{ record?.description }}</td></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
