
    <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Royalty Detail</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary"><th>Property</th><th>Value</th></thead>
                    <tbody>
                        <tr><th>User</th><td>{{ record?.user }}</td></tr>
                        <tr><th>Description</th><td>{{ record?.description }}</td></tr>
                        <tr><th>Point</th><td>{{ record?.point }}</td></tr>
                        <tr><th>Peace Customer</th><td>{{ record?.peaceCustomer }}</td></tr>
                        <tr><th>Ecommerce Merchant</th><td>{{ record?.ecommerceMerchant }}</td></tr>
                        <tr><th>Ecommerce Customer</th><td>{{ record?.ecommerceCustomer }}</td></tr>
                        <tr><th>Is Claimed</th><td>{{ record?.isClaimed }}</td></tr>
                        <tr><th>Transaction</th><td>{{ record?.transaction }}</td></tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    