<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="main-content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3>RESET PASSWORD</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title"> Change password</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" id="password" class="form-control" [ngClass]="{ 'is-invalid': f.password.dirty && f.password.errors }">
                <div *ngIf="f.password.dirty && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
              </div>
              <div class="form-group">
                <label for="passwordConfirmation">Re-Type Password</label>
                <input type="password" formControlName="passwordConfirmation" id="passwordConfirmation" class="form-control" (keyup)="checkPassword()" [ngClass]="{ 'is-invalid': f.passwordConfirmation.dirty && f.passwordConfirmation.errors }">
                <div *ngIf="f.passwordConfirmation.dirty && f.passwordConfirmation.errors" class="invalid-feedback">
                  <div *ngIf="f.passwordConfirmation.errors.required">Password Confirmation is required</div>
                </div>
              </div>
              <div class="invalid-feedback" >
                <div>Passwords do not match</div>
              </div>
              <div class="form-group">
                <button class="btn btn-block btn-primary"> RESET </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <p><strong>Title : </strong> {{admin.title}}</p>
            <p><strong>Surname : </strong> {{ admin.surname }}</p>
            <p><strong>Last name :</strong> {{ admin.lastName }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
