
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">User Detail</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary"><th>Property</th><th>Value</th></thead>
                  <tbody>
                    <tr><th>Title</th><td>{{ record?.title }}</td></tr>
                    <tr><th>User Type</th><td>{{ record?.type }}</td></tr>
                    <tr><th>Surname</th><td>{{ record?.surname }}</td></tr>
                    <tr><th>First name</th><td>{{ record?.firstName }}</td></tr>
                    <tr><th>Middle Name</th><td>{{ record?.middleName }}</td></tr>
                    <tr><th>Last Name</th><td>{{ record?.lastName }}</td></tr>
                    <tr><th>Gender</th><td>{{ record?.gender }}</td></tr>
                    <tr><th>Birth Date</th><td>{{ record?.birthDate | date }}</td></tr>
                    <tr><th>Created By</th><td>{{ record?.createdBy?.email }}</td></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  