
<div class="panel-header panel-header-sm">
</div>
<div class="main-content">

    <div class="row">
        <div class="col-md-12">    
            <div class="btn-group">
                <a class="btn btn-primary btn-sm" routerLink="/location/track" routerLinkActive="active">
                    <span class="btn-label"><i class="now-ui-icons design_bullet-list-67"></i></span>
                    Track
                </a>
                <a class="btn btn-primary btn-sm" routerLink="/location/county" routerLinkActive="active">
                    <span class="btn-label"><i class="now-ui-icons design_bullet-list-67"></i></span>
                    County
                </a>
                <a class="btn btn-primary btn-sm" routerLink="/location/state" routerLinkActive="active">
                    <span class="btn-label"><i class="now-ui-icons design_bullet-list-67"></i></span>
                    State
                </a>
                <a class="btn btn-primary btn-sm" routerLink="/location/country" routerLinkActive="active">
                    <span class="btn-label"><i class="now-ui-icons design_bullet-list-67"></i></span>
                    Country
                </a>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xs-12">
                    <router-outlet></router-outlet>
                </div>
            </div>  

        </div>
    </div>

</div>