<div class="login-wrapper">
  <div class="grid-wrapper container">
    <div class="row" id="login-row" [ngStyle]="{
      marginTop: formLoginHeight
    }">
      <div class="col-3"></div>
      <div class="col">
        <div class="card">
          <div class="card-header">
            <img src="/assets/img/peace-logo.png" with="50" height="50"
                 [ngStyle]="{ marginTop: '-45px', borderRadius: '50%' }" />
            <h4 class="card-title" [ngStyle]="{marginTop: '0px'}">SEND OTP</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="phone">Phone Number :</label>
                <input type="text" name="phone" id="phone" class="form-control" formControlName="phone" aria-describedby="emailHelp" placeholder="Enter Phone Number">
                <small
                  *ngIf="f.phone.touched && !f.phone.valid" class="form-text text-danger">
                  The phone number is required
                </small>
              </div>
              <div class="form-group">
                <label for="email">Email :</label>
                <input type="email" id="email" class="form-control" formControlName="email"  placeholder="E-mail">
                <small
                  *ngIf="f.email.touched && !f.email.valid" class="form-text text-danger">
                  E-Mail is required
                </small>
              </div>

              <div class="form-group">
                <a routerLink="/login-otp">Login with OTP</a>
              </div>
              <button type="submit" class="btn btn-primary btn-block hovering ld-over" [disabled]="!this.forgotForm.valid">
                SEND OTP <span class="ld ld-ball ld-bounce"></span>
              </button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-3"></div>
    </div>
  </div>
</div>
