<div class="main-content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <button class="btn btn-primary pull-right" (click)="goBack()"> <i class="now-ui-icons arrows-1_minimal-left"></i> Go Back </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Country Detail</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary"><th>Property</th><th>Value</th></thead>
                  <tbody>
                  <tr><th>Name</th><td>{{ record?.name }}</td></tr>
                  <tr><th>iso2</th><td>{{ record?.iso2 }}</td></tr>
                  <tr><th>iso3</th><td>{{ record?.iso3 }}</td></tr>
                  <tr><th>callingCodes</th><td>{{ record?.callingCodes }}</td></tr>
                  <tr><th>Currencies</th><td>{{ record?.currencies }}</td></tr>
                  <tr><th>ioc</th><td>{{ record?.ioc }}</td></tr>
                  <tr><th>languages</th><td>{{ record?.languages }}</td></tr>
                  <tr><th>status</th><td>{{ record?.status }}</td></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
