<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="text-left">
            <button class="btn btn-primary" (click)="openAddSidebar()">
              <i></i> Add New
            </button>
          </div>
          <h4>Query Records</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="queryForm" (ngSubmit)="queryRecord()">
            <div class="form-group row">
              <div class="col-md-2 pr-1">
                <input type="text" placeholder="Phone" formControlName="phone" class="form-control">
              </div>
              <div class="col-md-2 px-1">
                <input type="text" formControlName="surname" placeholder="Surname" class="form-control">
              </div>
              <div class="col-md-4 px-1">
                <input type="text" formControlName="lastName" placeholder="Given Name" class="form-control">
              </div>
              <div class="col-md-3 px-1">
                <input type="email" placeholder="E-mail" formControlName="email" class="form-control">
              </div>
              <div class="col-md-1 pl-1">
                <button type="submit" class="btn btn-md btn-primary" id="queryButton">
                  <i class="fa fa-cog fa-spin" *ngIf="queryLoading == true"></i>  <i class="fa fa-search" *ngIf="queryLoading == false"></i> 
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Upgrade requests</h4>
          
        </div>
        <div class="card-body">
         
          <app-advance-table *ngIf="currentRecords.length > 0" tableName="PMT User">
            <thead class="text-primary">
              <tr>
                <th class="text-left">SN</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Type</th>
                <th>Vehicles</th>
                <th class="text-right">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let record of currentRecords; let i = index">
                <td class="text-left">{{ i + 1 }}</td>
                <td><a routerLink="/driver/detail/{{record.id}}">{{ getName(record) }}</a></td>
                <td>{{ record?.phone}}</td>
                <td>{{ record?.type }}</td>
                <td>
                  <a routerLink="/vehicle/detail/{{record.vehicle?.id || ''}}">{{ record?.vehicle }}</a>
                </td>
                <td class="td-actions text-right">
                  <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-primary btn-sm btn-simple">
                      <i class="now-ui-icons loader_gear"></i>
                    </button>
                    <div ngbDropdown class="dropdown btn-group" placement="bottom-right">
                      <button class="btn btn-primary btn-sm dropdown-toggle-split" ngbDropdownToggle></button>
                      <div ngbDropdownMenu>
                        <a class="dropdown-item text-info" href="javascript:void(0)" (click)="openViewSidebar(record)">
                          <i class="now-ui-icons tech-tv"></i> View
                        </a>
                        <a class="dropdown-item text-success" href="javascript:void(0)" (click)="openEditSidebar(record)">
                          <i class="now-ui-icons ui-2_settings-90"></i> Edit
                        </a>
                        <a class="dropdown-item text-danger" href="javascript:void(0)" (click)="goToDetail(record)">
                          <i class="now-ui-icons ui-1_simple-remove"></i> Delete
                        </a>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </app-advance-table>

        </div>
      </div>
    </div>
  </div>

  <app-right-sidebar [heading]="sidebarHeading" [alwayOpenSidebar]="alwayOpenSidebar">
    <div [ngSwitch]="sidebarContent">
        <div *ngSwitchCase="'create'">
            <!-- <app-upgrade-add [formType]="sidebarContent" (changed)="onChanged($event)"></app-upgrade-add> -->
        </div>
        <div *ngSwitchCase="'edit'">
            <!-- <app-upgrade-edit [record]="currentRecord"></app-upgrade-edit> -->
        </div>
        <div *ngSwitchCase="'view'">
            <!-- <app-upgrade-detail ></app-upgrade-detail> -->
        </div>
    </div>
</app-right-sidebar>

<div class="modal rounded" id="deleteModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header bg-primary">
        <h4 class="modal-title" style="color: rgb(29, 26, 26)">Delete Modal</h4>
        <button type="button" (click)="closeModal()" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" style="height: 380px; overflow-x: scroll">
        <div class="container">
          <h6> <span class="text-dark">Are Sure you want to <strong class="text-danger">Delete</strong> this Record</span> </h6>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <button class="btn btn-success text-right" (click)="deleteRecord(currentRecord)">
                <i class="now-ui-icons tech_tv"></i> Proceed
              </button>
            </div>
            
            <div class="col-md-6">
              <button class=" btn btn-danger text-left" type="button" (click)="closeModal()" data-dismiss="modal">
                <i class="now-ui-icons tech_tv"></i> Reject
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
