
    <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Lien Detail</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary"><th>Property</th><th>Value</th></thead>
                    <tbody>
                      <tr><th>Code</th><td>{{ record?.code }}</td></tr>
                      <tr><th>Amount</th><td>{{ record?.amount }}</td></tr>
                      <tr><th>User</th><td>{{ record?.user }}</td></tr>
                      <tr><th>Reason</th><td>{{ record?.reason }}</td></tr>
                      <tr><th>Remark</th><td>{{ record?.remark }}</td></tr>
                      <tr><th>Enabled</th><td>{{ record?.enabled }}</td></tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    