
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="container-fluid">
                    <h4>Register Parcel</h4>
                </div>
            </div>
            <div class="body">
                <div class="container-fluid ">
                    <div class="card shadow-sm">
                        <div class="card-header">
                            <button *ngIf="counter == 2" class=" text-right btn btn-primary" (click)="decreaseCounter()">
                                <span>
                                    <i class="now-ui-icons arrows-1_minimal-left" aria-hidden="true"></i>
                                </span> Prev
                            </button>
                        </div>
                        <div class="card-body">
                            <form action="" [formGroup]="addForm" (ngSubmit)="onSubmit()">
                                <div class="content" *ngIf="counter == 1">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="">Item Name*</label>
                                                <input type="text" class="form-control"  formControlName="name" placeholder="Item Name">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Sender*</label>
                                                <input type="text" class="form-control" formControlName="sender"  placeholder="sender">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Receiver*</label>
                                                <input type="text" class="form-control" formControlName="recipient" placeholder="receiver">
                                            </div>
                                        </div>

                                       
                                        <div class="col-md-12 pr-3">
                                            <div class="form-group">
                                                <label for="isOdiferous" class="control-label required"> <strong>Description *</strong></label>
                                                <input type="text" class="form-control" formControlName="description"  id="description" minlength="20" placeholder="Detail shipment description"  required>
                                            </div>
                                        </div>
        
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3 pr-1">
                                            <div class="form-group">
                                                <label for="distance" class="control-label required"> <strong> Distance(Km) </strong></label>
                                                <input type="number"  class="form-control" formControlName="distance"  name="distance" placeholder="Distance" >
                                            </div>
                                        </div>
                                        <div class="col-md-3 px-1">
                                            <div class="form-group">
                                                <label for="mass" class="control-label required"> <strong> Mass(Kg) </strong></label>
                                                <input type="number" class="form-control" formControlName="mass"  name="mass" placeholder="Mass">
                                            </div>
                                        </div>
                                        <div class="col-md-3 px-1">
                                            <div class="form-group">
                                                <label for="volume" class="control-label required"> <strong> Volume(cm3) </strong></label>
                                                <input type="number" class="form-control" formControlName="volume"  name="volume" placeholder="Volume">
                                            </div>
                                        </div>
                                        <div class="col-md-3 pl-1">
                                            <div class="form-group">
                                                <label for="worth" class="control-label required"> <strong> Worth (NGN) </strong></label>
                                                <input type="number" min=100 step=100 class="form-control" formControlName="worth"  name="worth" placeholder="Worth" required>
                                            </div>
                                        </div>
                                    </div>
                
                
                                    <div class="row">
                                        <div class="col-md-4 pr-1">
                                            <div class="form-group row">
                                                <div class="control-label col-md-6"><br />Fragile Good *</div>
                                                <div class="col-md-2">
                                                    <br />
                                                    <input id="isFragileYes" type="radio" class="custom-control-input custom-control-inline" value="true" name="isFragile" formControlName="isFragile" >
                                                    <label class="custom-control-label radio-inline" for="isFragileYes">Yes</label>
                                                </div>
                
                                                <div class="col-md-2">
                                                    <br />
                                                    <input id="isFragileNo" type="radio" class="custom-control-input custom-control-inline" value="false" name="isFragile" formControlName="isFragile" >
                                                    <label class="custom-control-label radio-inline" for="isFragileNo">No</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 pr-1">
                                            <div class="form-group row">
                                                <div class="control-label col-md-6"><br />Perishable Good *</div>
                                                <div class="col-md-2">
                                                    <br />
                                                    <input id="isPerishableYes" type="radio" formControlName="isPerishable" class="custom-control-input custom-control-inline" value="true" name="isPerishable" formControlName="isPerishable" >
                                                    <label class="custom-control-label radio-inline" for="isPerishableYes">Yes</label>
                                                </div>
                
                                                <div class="col-md-2">
                                                    <br />
                                                    <input id="isPerishableNo" type="radio" formControlName="isPerishable" class="custom-control-input custom-control-inline" value="false" name="isPerishable" formControlName="isPerishable" >
                                                    <label class="custom-control-label radio-inline" for="isPerishableNo">No</label>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="col-md-4 pr-1">
                                            <div class="form-group row">
                                                <div class="control-label col-md-6"><br />Combustible Good *</div>
                                                <div class="col-md-2">
                                                    <br />
                                                    <input id="isCombustibleYes" type="radio" formControlName="isCombustible" class="custom-control-input custom-control-inline" value="true" name="isCombustible"  >
                                                    <label class="custom-control-label radio-inline" for="isCombustibleYes">Yes</label>
                                                </div>
                
                                                <div class="col-md-2">
                                                    <br />
                                                    <input id="isCombustibleNo" type="radio" formControlName="isCombustible" class="custom-control-input custom-control-inline" value="false" name="isCombustible"  >
                                                    <label class="custom-control-label radio-inline" for="isCombustibleNo">No</label>
                                                </div>
                                            </div>
                    
                                        </div>
                                    </div>
                
                                    <div class="row">
                                        <div class="col-md-4 pr-1">
                                            <div class="form-group row">
                                                <div class="control-label col-md-6"><br />Odiferous Good *</div>
                                                <div class="col-md-2">
                                                    <br />
                                                    <input id="isOdiferousYes" type="radio" formControlName="isOdiferous" class="custom-control-input custom-control-inline" value="true" name="isOdiferous" >
                                                    <label class="custom-control-label radio-inline" for="isOdiferousYes">Yes</label>
                                                </div>
                
                                                <div class="col-md-2">
                                                    <br />
                                                    <input id="isOdiferousNo" type="radio" formControlName="isOdiferous" class="custom-control-input custom-control-inline" value="false" name="isOdiferous"  >
                                                    <label class="custom-control-label radio-inline" for="isOdiferousNo">No</label>
                                                </div>
                                            </div>
                                        </div>
                                        
                
                                        <div class="col-md-4 pr-1">
                                            <div class="form-group row">
                                                <div class="control-label col-md-6"><br />Liquid Good *</div>
                                                <div class="col-md-2">
                                                    <br />
                                                    <input id="isLiquidYes" type="radio" formControlName="isLiquid" class="custom-control-input custom-control-inline" value="true" name="isLiquid"  >
                                                    <label class="custom-control-label radio-inline" for="isLiquidYes">Yes</label>
                                                </div>
                
                                                <div class="col-md-2">
                                                    <br />
                                                    <input id="isLiquidNo" type="radio" formControlName="isLiquid" class="custom-control-input custom-control-inline" value="false" name="isLiquid"  >
                                                    <label class="custom-control-label radio-inline" for="isLiquidNo">No</label>
                                                </div>
                                            </div>
                                        </div>
                
                                        <div class="col-md-4 pr-1">
                                            <div class="form-group row">
                                                <div class="control-label col-md-6"><br />Unique Good *</div>
                                                <div class="col-md-2">
                                                    <br />
                                                    <input id="isUniqueYes" type="radio" formControlName="isUnique" class="custom-control-input custom-control-inline" value="true" name="isUnique"  >
                                                    <label class="custom-control-label radio-inline" for="isUniqueYes">Yes</label>
                                                </div>
                
                                                <div class="col-md-2">
                                                    <br />
                                                    <input id="isUniqueNo" type="radio" formControlName="isUnique" class="custom-control-input custom-control-inline" value="false" name="isUnique"  >
                                                    <label class="custom-control-label radio-inline" for="isUniqueNo">No</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="deliveryAddress" class="control-label required"> <strong> Delivery Address
                                                </strong></label>
                                                <input type="text" class="form-control" formControlName="deliveryAddress" id="deliveryAddress" placeholder="Neighborhood, Street, Building, Apartment" #address>
                                                <div *ngIf=" address.value.length < 20" class="invalid-feedback">
                                                    <div>A delivery address is required and must me above 20 letters long</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="deliveryAddress" class="control-label required"> <strong> Category*
                                                </strong></label>
                                                <select name="category" id="category" class="form-control" formControlName="category">
                                                    <option *ngFor="let record of categoryOptions" value="{{record.id}}">{{record.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="text-center btn btn-block btn-primary" (click)="incrementCounter()">Next</button>
                                        </div>
                                    </div>
                                </div>

                                <!--second card-->
                                <div class="content" *ngIf="counter == 2">
                                    <div class="row">
                                        <!-- <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="deliveryAddress" class="control-label required"> <strong> Terminal From*
                                                    </strong></label>
                                                <input type="text" class="form-control" formControlName="terminalFrom" id="deliveryAddress" placeholder="terminalFrom" >
                                                <select name="terminalFrom" id="terminalFrom" class="form-control" formControlName="terminalFrom">
                                                    <option *ngFor="let record of terminalOptions" value="{{record.id}}">{{record.name}}</option>
                                                </select>
                                            </div>
                                        </div> -->
                                        
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="deliveryAddress" class="control-label required"> <strong> State From*
                                                    </strong></label>
                                                <!-- <input type="text" class="form-control" formControlName="stateFrom" id="deliveryAddress" placeholder="terminalFrom" > -->
                                                <select name="stateFrom" id="stateFrom" class="form-control" formControlName="stateFrom">
                                                    <option *ngFor="let record of stateOptions" value="{{record.id}}">{{record.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="deliveryAddress" class="control-label required"> <strong> County From*
                                                    </strong></label>
                                                <!-- <input type="text" class="form-control" formControlName="countyFrom" id="deliveryAddress" placeholder="terminalFrom" > -->
                                                <select name="countyFrom" id="countyFrom" class="form-control" formControlName="countyFrom">
                                                    <option *ngFor="let record of countyOptions" value="{{record.id}}">{{record.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="deliveryAddress" class="control-label required"> <strong> Country From*
                                                    </strong></label>
                                                <!-- <input type="text" class="form-control" formControlName="countryFrom" id="deliveryAddress" placeholder="terminalFrom" > -->
                                                <select name="countryFrom" id="countryFrom" class="form-control" formControlName="countryFrom">
                                                    <option *ngFor="let record of countryOptions" value="{{record.id}}">{{record.name}}</option>
                                                </select>
                                            </div>
                                        </div>
    
                                    </div>
                                    <div class="row">
                                        <!-- <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="deliveryAddress" class="control-label required"> <strong> Terminal To*
                                                    </strong></label>
                                                <input type="text" class="form-control" formControlName="terminalTo" id="deliveryAddress" placeholder="terminalTo" >
                                                <select name="terminalTo" id="terminalTo" class="form-control" formControlName="terminalTo">
                                                    <option *ngFor="let record of terminalOptions" value="{{record.id}}">{{record.name}}</option>
                                                </select>
                                            </div>
                                        </div> -->
                                        
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="deliveryAddress" class="control-label required"> <strong> State To*
                                                    </strong></label>
                                                <!-- <input type="text" class="form-control" formControlName="stateTo" id="deliveryAddress" placeholder="terminalTo" > -->
                                                <select name="stateTo" id="stateTo" class="form-control" formControlName="stateTo">
                                                    <option *ngFor="let record of stateOptions" value="{{record.id}}">{{record.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="deliveryAddress" class="control-label required"> <strong> County To*
                                                    </strong></label>
                                                <!-- <input type="text" class="form-control" formControlName="countyTo" id="deliveryAddress" placeholder="terminalTo" > -->
                                                <select name="countyTo" id="countyTo" class="form-control" formControlName="countyTo">
                                                    <option *ngFor="let record of countyOptions" value="{{record.id}}">{{record.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="deliveryAddress" class="control-label required"> <strong> Country To*
                                                    </strong></label>
                                                <!-- <input type="text" class="form-control" formControlName="countryTo" id="deliveryAddress" placeholder="terminalTo" > -->
                                                <select name="countryTo" id="countryTo" class="form-control" formControlName="countryTo">
                                                    <option *ngFor="let record of countryOptions" value="{{record.id}}">{{record.name}}</option>
                                                </select>
                                            </div>
                                        </div>
    
                                    </div>
                                    
                
                                    <div class="row">
                                        <div class="col-md-4 pr-1">
                                            <div class="form-group">
                                                <label for="" class="control-label required"> <strong> Travel Hour</strong></label>
                                                <input type="number" class="form-control" formControlName="travelHour" id="travelHour" placeholder="Travel Hour">
                                            </div>
                                        </div>
                                        <div class="col-md-4 px-1">
                                            <div class="form-group">
                                                <label for="expectedDate" class="control-label required"> <strong> Departure Date</strong></label>
                                                <input type="date" class="form-control" formControlName="departureDate" id="departureDate" placeholder="Expected Date" data-mask="(000) 000 0000">
                                            </div>
                                        </div>
                                        <div class="col-md-4 pl-1">
                                            <div class="form-group">
                                                <label for="expectedDate" class="control-label required"> <strong> Estimated Arrival
                                                         Date</strong></label>
                                                <input type="datetime-local" class="form-control" formControlName="expectedDate" id="expectedDate" placeholder="Expected Date" data-mask="(000) 000 0000" data-tooltip="If goods are scheduled to arrive the same day it is registered, add 6 hours to the current time">
                                            </div>
                                        </div>
                                        
                
                                    </div>
                
                
                                    <div class="row">
                                        <div class="col-md-4 pr-1" id="estimateDiv">
                                            <div class="input-group">
                                                <input type="text" class="form-control input-sm" formControlName="costEstimate" name="costEstimate" placeholder="Estimated Cost" readonly>
                                                <div class="input-group-append"><button type="button" class="btn btn-sm btn-warning" id="btnGetCost" (click)="getCostEstimate()"><i class="fa fa-search"></i> </button></div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 px-1">
                                            <div class="form-group">
                                                <label for="costPayable" class="control-label required"> <strong>Payable Cost *</strong></label>
                                                <input type="number" class="form-control" formControlName="costPayable" name="costPayable" placeholder="0" required>
                                            </div>
                                        </div>
                
                                        <div class="col-md-4 pl-1">
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <label for="" class="control-label required"> <strong>Transaction Reference * </strong></label>
                                                    <select formControlName="transaction" id="billingType" class="form-control" #billingType>
                                                            <option value="">CHOOSE AN OPTION</option>
                                                            <option value="PRE_PAID">PRE PAID</option>
                                                            <option value="POST_PAID">POST PAID</option>
                                                            <option value="DEDICATED">DEDICATED</option>
                                                        </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                
                                    <!-- <div class="row">
                                        <div class="col-md-6 pr-1">
                                            <div class="form-group">
                                                <label for="remark" class="control-label required"> <strong> Payment Method</strong></label>
                                                <select class="form-control" formControlName="paymentMethod" id="paymentMethod" #paymentMethod>
                                                    <option value=""></option>
                                                    <option value="CASH">CASH</option>
                                                    <option value="POS">POS</option>
                                                    <option value="GATEWAY">GATEWAY</option>
                                                    <option value="CHEQUE">CHEQUE</option>
                                                    <option value="TRANSFER">TRANSFER</option>
                                                    <option value="USSD">USSD</option>
                                                    </select>
                                            </div>
                                        </div>
                
                                        <div class="col-md-4 pl-1" *ngIf="paymentMethod.value === 'GATEWAY'">
                                            <div class="form-group">
                                                <label for="paymentGateway" class="control-label required"> <strong> Payment Gateway</strong></label>
                                                <select class="form-control" formControlName="paymentGateway" id="paymentGateway" placeholder="Payment Gateway" required>
                                                    <option value="FLUTTERWAVE">FLUTTERWAVE</option>
                                                    <option value="INTERSWITCH">INTERSWITCH</option>
                                                    <option value="UNIONBANK">UNIONBANK</option>
                                                    <option value="PAYSTACK">PAYSTACK</option>
                                                    <option value="STRIPE">STRIPE</option>
                                                    <option value="PAYPAL">PAYPAL</option>
                                                    <option value="GOOGLE_WALLET">GOOGLE_WALLET</option>
                                                    </select>
                                            </div>
                                        </div>
                
                                        <div class="col-md-6 pl-1" *ngIf="billingType.value === 'PRE_PAID'">
                                            <div class="form-group">
                                                <label for="paymentStatus" class="control-label required"> <strong> Payment Status*</strong></label>
                                                <select class="form-control" formControlName="paymentStatus" id="paymentStatus" required>
                                                    <option value="PENDING">PENDING</option>
                                                    <option value="SUCCESSFUL">SUCCESSFUL</option>
                                                    <option value="FAIL">FAIL</option>
                                                    </select>
                                            </div>
                                        </div>
                                    </div> -->
                
                                    <div class="row">
                                        <div class="col-md-6 pr-1">
                                            <div class="form-group">
                                                <label for="identification" class="control-label required"> <strong>Recipient Identification*
                                                    </strong></label>
                                                <!-- <input type="text" class="form-control" formControlName="identification" id="identification" placeholder=""> -->
                                                <select name="identification" id="identification" formControlName="identification" class="form-control">
                                                    <option value="NATIONAL ID">NATIONAL ID</option>
                                                    <option value="DRIVERS LICENSE">DRIVERS LICENSE</option>
                                                    <option value="VOTER'S CARD">VOTER'S CARD</option>
                                                    <option value="OTHER ID">OTHER ID</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 pl-1">
                                            <div class="form-group">
                                                <label for="remark" class="control-label"> <strong> Remark</strong></label>
                                                <input type="text" class="form-control" formControlName="remark" name="remark" placeholder="Staff Comment">
                                            </div>
                                        </div>
                                    </div>
                
                
                                    <div class="row">
                                        <div class="col-sm-12 text-center">
                                            <button type="submit" class="btn btn-primary btn-block" >Submit
                                                <i class="fa fa-refresh fa-spin"></i>
                                                <img *ngIf="loading" class="pl-3"
                                                src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                                            </button>
                                        </div>
                                    </div>
                                </div>
    
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
