<div class="main-content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <button class="btn btn-primary pull-right" (click)="goBack()"> <i class="now-ui-icons arrows-1_minimal-left"></i> Go Back </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">User Detail</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary"><th>Property</th><th>Value</th></thead>
                  <tbody>
                  <tr><th>Code</th><td>{{ record?.code }}</td></tr>
                  <tr><th>Amount</th><td>{{ record?.amount }}</td></tr>
                  <tr><th>Description</th><td>{{ record?.description }}</td></tr>
                  <tr><th>Sender</th><td>{{ record?.userFrom }}</td></tr>
                  <tr><th>Sender wallet</th><td>{{ record?.walletFrom }}</td></tr>
                  <tr><th>Narration</th><td>{{ record?.narration }}</td></tr>
                  <tr><th>Status</th><td>{{ record?.status }}</td></tr>
                  <tr><th>Withdraw</th><td>{{ record?.withdraw }}</td></tr>
                  <tr><th>Charge</th><td>{{ record?.charge }}</td></tr>
                  <tr><th>Bamk Name</th><td>{{ record?.bankName }}</td></tr>
                  <tr><th>Bank User Number</th><td>{{ record?.bankUserNumber }}</td></tr>
                  <tr><th>Bank User Name</th><td>{{ record?.bankUserName }}</td></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
