<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                    <form [formGroup]=" addForm" (ngSubmit)="onSubmit()" autocomplete="off">
                        <div class="row">
                            <div class="col-md-12 px-1">
                                <div class="form-group">
                                    <label for="surname" class="control-label required">Surname *</label>
                                    <input type="text" class="form-control" formControlName="surname" id="surname" placeholder="Surname">
                                </div>
                            </div>
                            <div class="col-md-12 px-1">
                                <div class="form-group">
                                    <label for="email" class="control-label required">Email *</label>
                                    <input type="email" class="form-control" formControlName="email" id="email" placeholder="johndeo@gmail.com">
                                </div>
                            </div>
                            <div class="col-md-12 px-1">
                                <div class="form-group">
                                    <label for="phone" class="control-label required">Phone *</label>
                                    <input type="text" class="form-control" formControlName="phone" placeholder="080...">
                                </div>
                            </div>
                            <div class="col-md-12 px-1">
                                <div class="form-group">
                                    <label for="password" class="control-label required">Password *</label>
                                    <input type="password" class="form-control" formControlName="password">
                                </div>
                            </div>
                            <div class="col-md-12 px-1">
                                <div class="form-group">
                                    <label for="confirmPassword" class="control-label required">ConfirmPassword *</label>
                                    <input type="password" class="form-control" formControlName="confirmPassword">
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-block btn-primary" [disabled]="!addForm.valid || loading">Send
                                    <img *ngIf="loading" class="pl-3"
                                    src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                                </button>
                            </div>
                        </div>
                    </form>
    
                </div>
            </div>
        </div>
    </div>