<div class="main-content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <button class="btn btn-primary pull-right" (click)="goBack()"> <i class="now-ui-icons arrows-1_minimal-left"></i> Go Back </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Pickup Detail</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary"><th>Property</th><th>Value</th></thead>
                  <tbody>
                  <tr><th>Code</th><td>{{ record?.code }}</td></tr>
                  <tr><th>No of Parcels</th><td>{{ record?.parcels?.length }}</td></tr>
                  <tr><th>Sender</th><td>{{ getFullname(record?.sender) }}</td></tr>
                  <tr><th>Terminal</th><td>{{ record?.terminal?.name }} - {{ record?.terminal?.state?.name }}</td></tr>
                  <tr><th>County</th><td>{{ record?.county }}</td></tr>
                  <tr><th>State</th><td>{{ record?.state }}</td></tr>
                  <tr><th>Country</th><td>{{ record?.county }}</td></tr>
                  <tr><th>Address</th><td>{{ record?.address }}</td></tr>
                  <tr><th>Status</th><td>{{ record?.status }}</td></tr>
                  <tr><th>Remark</th><td>{{ record?.remark }}</td></tr>
                  <tr><th>Declined At</th><td>{{ record?.declinedAt }}</td></tr>
                  <tr><th>Declined B</th><td>{{ record?.declinedBy }}</td></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
