
<div class="panel-header panel-header-sm">
</div>
<div class="main-content">

    <div class="row">
        <div class="col-md-12">    
            <div class="btn-group">
                <a class="btn btn-primary btn-sm" routerLink="/setup/category" routerLinkActive="active">
                    <span class="btn-label"><i class="now-ui-icons design_bullet-list-67"></i></span>
                    Category
                </a>
                <a class="btn btn-primary btn-sm" routerLink="/setup/bank" routerLinkActive="active">
                    <span class="btn-label"><i class="now-ui-icons design_bullet-list-67"></i></span>
                    Bank
                </a>
                <a class="btn btn-primary btn-sm" routerLink="/setup/setting" routerLinkActive="active">
                    <span class="btn-label"><i class="now-ui-icons design_bullet-list-67"></i></span>
                    Setting
                </a>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xs-12">
                    <router-outlet></router-outlet>
                </div>
            </div>  

        </div>
    </div>

</div>