
<div class="panel-header panel-header-sm">
</div>
<div class="main-content">

    <div class="row">
        <div class="col-md-12">    
            <div class="btn-group">
                <a class="btn btn-primary btn-sm" routerLink="/wallet/bonus" routerLinkActive="active">
                    <span class="btn-label"><i class="now-ui-icons design_bullet-list-67"></i></span>
                    Bonus
                </a>
                <a class="btn btn-primary btn-sm" routerLink="/wallet/lien" routerLinkActive="active">
                    <span class="btn-label"><i class="now-ui-icons design_bullet-list-67"></i></span>
                    Lien
                </a>
                <a class="btn btn-primary btn-sm" routerLink="/wallet/deposit" routerLinkActive="active">
                    <span class="btn-label"><i class="now-ui-icons design_bullet-list-67"></i></span>
                    Deposit
                </a>
                <a class="btn btn-primary btn-sm" routerLink="/wallet/withdraw" routerLinkActive="active">
                    <span class="btn-label"><i class="now-ui-icons design_bullet-list-67"></i></span>
                    Withdraw
                </a>
                <a class="btn btn-primary btn-sm" routerLink="/wallet/royalty" routerLinkActive="active">
                    <span class="btn-label"><i class="now-ui-icons design_bullet-list-67"></i></span>
                    Royalty
                </a>
                <a class="btn btn-primary btn-sm" routerLink="/wallet/transfer" routerLinkActive="active">
                    <span class="btn-label"><i class="now-ui-icons design_bullet-list-67"></i></span>
                    Transfer
                </a>
                <a class="btn btn-primary btn-sm" routerLink="/wallet/transaction" routerLinkActive="active">
                    <span class="btn-label"><i class="now-ui-icons design_bullet-list-67"></i></span>
                    Transaction
                </a>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xs-12">
                    <router-outlet></router-outlet>
                </div>
            </div>  

        </div>
    </div>

</div>