
<div class="panel-header panel-header-sm">
</div>
<div class="main-content">

    <div class="row">
        <div class="col-md-12">    
            <div class="btn-group">
                <a class="btn btn-primary btn-sm" routerLink="/people/admin" routerLinkActive="active">
                    <span class="btn-label"><i class="now-ui-icons design_bullet-list-67"></i></span>
                    Admin
                </a>
                <a class="btn btn-primary btn-sm" routerLink="/people/upgrade" routerLinkActive="active">
                    <span class="btn-label"><i class="now-ui-icons design_bullet-list-67"></i></span>
                    Upgrade
                </a>
                <a class="btn btn-primary btn-sm" routerLink="/people/user" routerLinkActive="active">
                    <span class="btn-label"><i class="now-ui-icons design_bullet-list-67"></i></span>
                    User
                </a>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xs-12">
                    <router-outlet></router-outlet>
                </div>
            </div>  

        </div>
    </div>

</div>